<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head.html :: fragments-head}"></div>
<title>Binterpark</title>
<body>
    <div class="container">
        <h1>Hello World!</h1>
        <button type="button" class="btn btn-primary" onclick="moveToSignupForm()"> 회원가입 </button>
        <button type="button" class="btn btn-success" onclick="moveToLoginForm()"> 로그인 </button>
    </div>


    <div th:replace="~{fragments/libs.html :: fragments-libs}"></div>
</body>
</html>