<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head.html :: fragments-head}"></div>
<title>Binterpark | 회원가입</title>
<body>

    <div class="container">
        <h1>회원가입</h1>
        <div>
            <form class="form" onsubmit="submitForm(event)">
                <div class="signup-input">
                    <label for="userEmail" class="input-label" hidden>email</label>
                    <input type="text" id="userEmail" name="email" class="input-field" placeholder="이메일">
                    <div class="caution" id="error_msg_email"><label class="error"></label></div>
                </div>
                <div class="signup-input">
                    <label for="password" class="input-label" hidden>password</label>
                    <input type="password" id="password" name="password" class="input-field" placeholder="비밀번호">
                    <div class="caution" id="error_msg_pw"><label class="error"></label></div>
                </div>
                <div class="signup-input">
                    <label for="confirmPassword" class="input-label" hidden>password2</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="input-field" placeholder="비밀번호 재입력">
                    <div class="caution" id="error_msg_pwr"><label class="error"></label></div>
                </div>
                <div class="signup-input">
                    <label for="name" class="input-label" hidden>userName</label>
                    <input type="text" id="name" name="name" class="input-field" placeholder="닉네임">
                    <div class="caution" id="error_msg_name"><label class="error"></label></div>
                </div>
                <div class="signup-btn pdtp30">
                    <input type="button" name="cancel" class="btn btn-secondary" onclick="history.back()" value="취소">
                    <input type="submit" name="submit" class="btn btn-primary" value="회원가입 완료">
                </div>
            </form>
        </div>
    </div>

    <div th:replace="~{fragments/libs.html :: fragments-libs}"></div>
</body>
</html>